<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<br>
<div id = "title" > Shaka </div>

  <br>
<table>
  <thead>
    <class = "table"></class>
      <class = "table-hover"></class>
      
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  var title = $('#title');
  title.text("jide is great")
  title.css({backgroundColor: "grey", borderColor: "blue", borderRadius: "50px"})
</script>
<br>


